<!DOCTYPE html><html lang="ko"><head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no">
	<meta name="format-detection" content="telephone=no">

	
	<title>Hound 13</title>

	<!-- SEO meta tag -->
	<meta name="keywords" content="">
	<meta name="description" content="">
	<meta name="date" content="">
	<meta name="sitecode" content="">
	<!-- // SEO meta tag -->

	<!-- Open Graph -->
	<meta property="og:url" content="">
	<meta property="og:image" content="">
	<meta property="og:type" content="">
	<meta property="og:site_name" content="">
	<meta property="og:locale" content="">
	<meta property="og:title" content="">
	<meta property="og:description" content="">
	<meta property="og:country-name" content="">
	<!-- // Open Graph -->

	<!-- Icon & Favicon -->
	<link rel="shortcut icon" href="../favicon.ico">
	<link rel="icon" type="image/png" sizes="16x16" href="../favicon-16x16.png">
	<link rel="icon" type="image/png" sizes="32x32" href="../favicon-32x32.png">
	<link rel="apple-touch-icon" href="../favicon-180x180.png">
	<!-- // Icon & Favicon -->

	<link rel="stylesheet" href="../css/libs.css">
	<link rel="stylesheet" href="../css/hound13.css">
</head>

<body data-pagestatus="new : 2019.10.10">
	<!-- Skip Navigation -->
	<ul class="skip">
		<li><a href="#header" onclick="document.getElementById('header').tabIndex=-1;document.getElementById('header').focus();return false;">Skip to navigation</a></li>
		<li><a href="#content" onclick="document.getElementById('content').tabIndex=-1;document.getElementById('content').focus();return false">Skip to content</a></li>
	</ul>
	<!-- // Skip Navigation -->

	<div class="wrap">
		<!--[D] HEADER -->
		<header class="header">
			<h1 class="logo">
				<a href="" class="logo-link">
					<span class="blind">Hound13</span>
				</a>
			</h1>
			<!-- Navigation -->
			<nav class="gnb" role="navigation">
				<h2 class="blind">Main menu</h2>
				<ul class="gnb__list">
					<li class="gnb__item"><a class="nav-link" href="#about">about</a></li>
					<li class="gnb__item"><a class="nav-link" href="#game">games</a></li>
					<li class="gnb__item"><a class="nav-link" href="#career">careers</a></li>
					<li class="gnb__item"><a class="nav-link" href="#office">office view</a></li>
					<li class="gnb__item"><a class="nav-link" href="#news">news</a></li>
					<li class="gnb__item"><a class="nav-link" href="#contact">contact</a></li>
				</ul>
			</nav>
			<!-- // Navigation -->
			<ul class="language">
				<li class="language__item"><a class="nav-link" href="#">Kor</a></li>
				<li class="language__item"><a class="nav-link is_active" href="#">eng</a></li>
			</ul>
			<button class="menu js_toggle">
				<span class="menu__icon"></span>
				<span class="menu__icon"></span>
				<span class="menu__icon"></span>
			</button>
		</header>
		<!--//[D] HEADER -->

		<!-- [D] CONTENTS -->
		<main id="content" role="main">
			<section id="banner" class="banner">
				<h2 class="blind">This is banner!</h2>
				<div class="slider swiper js-swiper-banner">
					<div class="swiper-wrapper">
						<div class="slider__item swiper-slide">
							<img class="img" src="../img/images/img_banner1.png" alt="">
						</div>
						<div class="slider__item swiper-slide">
							<img class="img" src="../img/images/img_banner2.png" alt="">
						</div>
						<div class="slider__item swiper-slide">
							<img class="img" src="../img/images/img_banner3.png" alt="">
						</div>
					</div>
					<div class="slider__pagi banner-pagination"></div>
					<div class="banner__content">
						<div class="container">
							<h2 class="banner__head"><strong class="highlight">HUNT</strong><br> Better <br> GAMES</h2>
							<p class="banner__desc">우리는 전세계 게임 이용자가 플레이 할만한 가치가 느껴지는 게임을 만들기 위해 노력하고 있습니다</p>
						</div>
					</div>
				</div>
				<a href="#about" class="scroll-down">
					<span class="scroll-down__text">scroll</span>
					<i class="icon icon-down"></i>
					<span class="blind">scroll down to about</span>
				</a>
			</section>
			<section id="about" class="about">
				<h2 class="main-title">about</h2>
				<div class="container">
					<div class="about-nav" role="tablist">
						<button class="about-nav__item" role="tab" area-selected="true" aria-controls="about-panel-1" id="about-1" tabindex="0">
							<span class="nav-link is_active">People</span>
						</button>
						<button class="about-nav__item" role="tab" area-selected="false" aria-controls="about-panel-2" id="about-2" tabindex="-1">
							<span class="nav-link">ceo message</span>
						</button>
						<button class="about-nav__item" role="tab" area-selected="false" aria-controls="about-panel-3" id="about-3" tabindex="-1">
							<span class="nav-link">history</span>
						</button>
					</div>
					<div id="about-panel-1" class="about-item" role="tabpanel" tabindex="0" aria-labelledby="about-1">
						<ul class="about-people">
							<li class="about-people__item">
								<img class="about-people__img" src="./../img/images/img_about_people1.png" alt="">
								<h4 class="about-people__title">value</h4>
								<span class="about-people__desc">게임의 가치에 대해 고민하는 사람들</span>
							</li>
							<li class="about-people__item">
								<img class="about-people__img" src="./../img/images/img_about_people2.png" alt="">
								<h4 class="about-people__title">fun</h4>
								<span class="about-people__desc">즐거움과 재미에 몰입하는 사람들</span>
							</li>
							<li class="about-people__item">
								<img class="about-people__img" src="./../img/images/img_about_people3.png" alt="">
								<h4 class="about-people__title">limit</h4>
								<span class="about-people__desc">경계와 한계를 넘어서는 사람들</span>
							</li>
						</ul>
					</div>
					<div id="about-panel-2" class="about-item is_hidden" role="tabpanel" tabindex="0" aria-labelledby="about-2">
						<div class="about-ceo">
							<div class="about-ceo__detail">
								<h4 class="about-ceo__title">안녕하세요. <br> 주식회사 하운드13 대표이사 박정식입니다.</h4>
								<p class="about-ceo__desc">저희 하운드13은 유저들에게 "가치가 느껴지는 게임"을 만든다는 목표아래
									게임 업계 경력 10년 이상의 게임 전문가들이 모여 즐겁게 게임 개발을 하고 있습니다.</p>
								<p class="about-ceo__desc">저희 하운드13의 임직원 모두는<br> 보다 나은 게임을 만들기 위해서 끊임없는 고민을 할 것이며,<br> 지속해서 좋은 게임을 통해,
									여러분들께 재미와 즐거움을 드릴 수 있도록 하겠습니다.</p>
								<p class="about-ceo__desc">고맙습니다.</p>
								<p class="about-ceo__sign">하운드13 대표이사 박정식</p>
							</div>
							<div class="about-ceo__img">
								<img class="img" src="./../img/images/logo_drop.png" alt="">
							</div>
						</div>
					</div>
					<div id="about-panel-3" class="about-item is_hidden" role="tabpanel" tabindex="0" aria-labelledby="about-3">
						<div class="about-history">
							<div class="slider swiper js-swiper-about">
								<div class="swiper-wrapper">
									<a href="#none" class="swiper-slide">
										<img class="slider__img" src="./../img/images/img_about1.png" alt="">
										<h5 class="slider__time">2021.07</h5>
										<p class="slider__title">가레나 (garena) 투자 유치</p>
									</a>
									<a href="#none" class="swiper-slide">
										<img class="slider__img" src="./../img/images/img_about2.png" alt="">
										<h5 class="slider__time">2020.11</h5>
										<p class="slider__title">헌드레드소울 sea서버 런칭</p>
									</a>
									<a href="#none" class="swiper-slide">
										<img class="slider__img" src="./../img/images/img_about3.png" alt="">
										<h5 class="slider__time">2020.05</h5>
										<p class="slider__title">헌드레드소울 북미/유럽 서버 런칭 </p>
									</a>
									<a href="#none" class="swiper-slide">
										<img class="slider__img" src="./../img/images/img_about4.png" alt="">
										<h5 class="slider__time">2019.07</h5>
										<p class="slider__title">헌드레드소울 일본 및 대만 서비스 런칭 (Google, Apple)</p>
									</a>
									<a href="#none" class="swiper-slide">
										<img class="slider__img" src="./../img/images/img_about5.png" alt="">
										<h5 class="slider__time">2019.02</h5>
										<p class="slider__title">헌드레드소울 G-rank 이달의 게임상 수상</p>
									</a>
									<a href="#none" class="swiper-slide">
										<img class="slider__img" src="./../img/images/img_about6.png" alt="">
										<h5 class="slider__time">2019.01</h5>
										<p class="slider__title">헌드레드소울 국내 서비스 런칭 (Google, Apple) </p>
									</a>
									<a href="#none" class="swiper-slide">
										<img class="slider__img" src="./../img/images/img_about7.png" alt="">
										<h5 class="slider__time">2017.05</h5>
										<p class="slider__title">헌드레드소울 UNITE 2017 Seoul "베스트 그래픽상" 수상 </p>
									</a>
								</div>
								<div class="scroll-group">
									<div class="scroll-group__bar"></div>
									<button type="button" class="scroll-group__prev"><span class="icon-prev"></span></button>
									<button type="button" class="scroll-group__next"><span class="icon-next"></span></button>
									<div class="scroll-group__pagination"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section id="game" class="game">
				<h2 class="main-title">games</h2>
				<div class="container">
					<div class="slider swiper js-swiper-game">
						<div class="swiper-wrapper">
							<div class="swiper-slide">
								<div class="slider-item__img">
									<img class="img" src="./../img/images/img_game1.png" alt="">
									<div class="video">
										<div id="player1"></div>
									</div>
								</div>
								<div class="slider-item__content">
									<h4 class="slider-item__title">HUNDRED SOUL</h4>
									<p class="slider-item__desc">압도적인 그래픽 퀄리티와 시그널 액션 타격감으로 리듬감 있는 <br> 호쾌한 액션을 경험할 수 있습니다. 부관과 AI 협동 플레이로 <br> 매력적이고 탄탄한 스토리 또한 함께 즐겨보세요.</p>
									<a href="https://www.hundredsoul.com/" target="_blank" class="slider-item__game">
										<span class="slider-item__game--text">공식 사이트 바로가기</span>
									</a>
									<div class="slider-social">
										<a class="slider-social__link" href="https://play.google.com/store/apps/details?id=com.hound13.hundredsoul" target="_blank"></a>
										<a class="slider-social__link" href="https://play.google.com/store/apps/details?id=com.hound13.hundredsoul" target="_blank"></a>
									</div>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="slider-item__img">
									<img class="img" src="./../img/images/img_game2.png" alt="">
									<div class="video">
										<div id="player2"></div>
									</div>
								</div>
								<div class="slider-item__content">
									<h4 class="slider-item__title">PROJECT M</h4>
									<p class="slider-item__desc">차세대 AAA 퀄리티의 리얼톤 렌더링과 리얼함을 기초로 하여 <br>
										스타일리쉬한 액션 플레이를 지향합니다. <br>
										내러티브를 바탕으로 깊은 세계관 설정과 리얼한 감정 연기,<br>
										영화적 화면 구성으로 몰입도를 높였으며 보기만 해도 매료되는 <br>
										압도적인 자연 환경과 섬세한 문명의 구현을 직접 경험해보세요.</p>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="slider-item__img">
									<img class="img" src="./../img/images/img_game3.png" alt="">
									<div class="video">
										<div id="player3"></div>
									</div>
								</div>
								<div class="slider-item__content">
									<h4 class="slider-item__title">PROJECT D</h4>
									<p class="slider-item__desc">자사의 대표작인 헌드레드 소울의 액션성을 계승한 액션 RPG로 <br>
										대중성 있는 비주얼 컨셉을 통해 개성있고 감각적인 캐릭터들로 <br>
										액션이 구현되어 있으며 시나리오 기반의 퀘스트를 통한 <br>
										수동 플레이를 지향합니다. <br>
										또한 작은 존 이동 방식이 아닌, 넓은 필드 기반의 <br>
										세미 오픈 필드 구조이며 글로벌 시장 타겟으로 제작되어 <br>
										높은 완성도와 액션 만족감을 제공합니다. <br>
										PCㆍ모바일을 통해 언제 어디서든 플레이해보세요.</p>
								</div>
							</div>
						</div>
						<div class="scroll-group">
							<div class="scroll-group__bar"></div>
							<button type="button" class="scroll-group__prev">
								<span class="icon-prev"></span>
								<span class="blind">previous game</span>
							</button>
							<button type="button" class="scroll-group__next">
								<span class="icon-next"></span>
								<span class="blind">next game</span>
							</button>
							<div class="scroll-group__pagination"></div>
						</div>
					</div>
				</div>
			</section>
			<section id="career" class="career">
				<h2 class="main-title">careers</h2>
				<div class="container">
					<div class="career-nav swiper js-career-nav">
						<div class="swiper-wrapper" role="tablist">
							<div class="career-nav__item swiper-slide" role="tab" area-selected="true" aria-controls="career-panel-1" id="career-1" tabindex="0">
								<button class="nav-link is_active">
									<span class="nav-link__text">전체</span>
									<span class="nav-link__num">24</span>
								</button>
							</div>
							<div class="career-nav__item swiper-slide" role="tab" area-selected="false" aria-controls="career-panel-2" id="career-2" tabindex="-1">
								<button class="nav-link">
									<span class="nav-link__text">아트</span>
									<span class="nav-link__num">9</span>
								</button>
							</div>
							<div class="career-nav__item swiper-slide" role="tab" area-selected="false" aria-controls="career-panel-3" id="career-3" tabindex="-1">
								<button class="nav-link">
									<span class="nav-link__text">게임기획</span>
									<span class="nav-link__num">7</span>
								</button>
							</div>
							<div class="career-nav__item swiper-slide" role="tab" area-selected="false" aria-controls="career-panel-4" id="career-4" tabindex="-1">
								<button class="nav-link">
									<span class="nav-link__text">클라이언트</span>
									<span class="nav-link__num">8</span>
								</button>
							</div>
							<div class="career-nav__item swiper-slide" role="tab" area-selected="false" aria-controls="career-panel-5" id="career-5" tabindex="-1">
								<button class="nav-link">
									<span class="nav-link__text">서버</span>
									<span class="nav-link__num">0</span>
								</button>
							</div>
							<div class="career-nav__item swiper-slide" role="tab" area-selected="false" aria-controls="career-panel-6" id="career-6" tabindex="-1">
								<button class="nav-link">
									<span class="nav-link__text">경영지원</span>
									<span class="nav-link__num">0</span>
								</button>
							</div>
							<div class="career-nav__item swiper-slide" role="tab" area-selected="false" aria-controls="career-panel-7" id="career-7" tabindex="-1">
								<button class="nav-link">
									<span class="nav-link__text">기타</span>
									<span class="nav-link__num">0</span>
								</button>
							</div>
						</div>
					</div>
					<div class="career-data">
						<div id="career-panel-1" class="career-panel" role="tabpanel" tabindex="0" aria-labelledby="career-1">
							<div class="career-hasdata">
								<div class="career-item  is_active">
									<div class="career-item__area">
										<p class="career-item__title">‘헌드레드 소울’ 엔진 프로그래머 ‘헌드레드 소울’ 엔진 프로그래머‘헌드레드 소울’ 엔진 프로그래머‘헌드레드 소울’ 엔진 프로그래머</p>
										<div class="career-item__duration">
											<span class="career-item__rename">D-1</span>
											<span class="career-item__term">~09.10</span>
										</div>
									</div>
									<a href="#none" target="_blank" class="career-item__btn">입사 지원하기</a>
								</div>
								<div class="career-item">
									<div class="career-item__area">
										<p class="career-item__title">‘헌드레드 소울’ 이펙터 (VFX 아티스트)</p>
										<div class="career-item__duration">
											<span class="career-item__term">상시채용</span>
										</div>
									</div>
									<a href="#none" target="_blank" class="career-item__btn">입사 지원하기</a>
								</div>
								<div class="career-item">
									<div class="career-item__area">
										<p class="career-item__title">‘헌드레드 소울’ 3D 배경 아티스트 </p>
										<div class="career-item__duration">
											<span class="career-item__term">~09.30</span>
										</div>
									</div>
									<a href="#none" target="_blank" class="career-item__btn">입사 지원하기</a>
								</div>
								<div class="career-item">
									<div class="career-item__area">
										<p class="career-item__title">‘헌드레드 소울’ 캐릭터 리드 모델러 </p>
										<div class="career-item__duration">
											<span class="career-item__term">상시채용</span>
										</div>
									</div>
									<a href="#none" target="_blank" class="career-item__btn">입사 지원하기</a>
								</div>
								<div class="career-item">
									<div class="career-item__area">
										<p class="career-item__title">‘헌드레드 소울’ 배경 모델러</p>
										<div class="career-item__duration">
											<span class="career-item__term">상시채용</span>
										</div>
									</div>
									<a href="#none" target="_blank" class="career-item__btn">입사 지원하기</a>
								</div>
								<div class="career-item">
									<div class="career-item__area">
										<p class="career-item__title">‘헌드레드 소울’ 액션 기획자 </p>
										<div class="career-item__duration">
											<span class="career-item__term">상시채용</span>
										</div>
									</div>
									<a href="#none" target="_blank" class="career-item__btn">입사 지원하기</a>
								</div>
								<div class="career-item">
									<div class="career-item__area">
										<p class="career-item__title">‘헌드레드 소울’ 서버 시스템 프로그래머</p>
										<div class="career-item__duration">
											<span class="career-item__term">상시채용</span>
										</div>
									</div>
									<a href="#none" target="_blank" class="career-item__btn">입사 지원하기</a>
								</div>
								<div class="career-item">
									<div class="career-item__area">
										<p class="career-item__title">‘헌드레드 소울’ 서버 컨텐츠 프로그래머 </p>
										<div class="career-item__duration">
											<span class="career-item__term">상시채용</span>
										</div>
									</div>
									<a href="#none" target="_blank" class="career-item__btn">입사 지원하기</a>
								</div>
							</div>
							<div class="career-nodata is_hidden">
								<h3 class="career-nodata__title">현재 예정된 채용이 없습니다</h3>
								<p class="career-nodata__desc">Hound13 인재풀에 등록하고 싶으시다면<br>간단히 이력사항을 정리하여 언제든 제출하여 주시기 바랍니다.</p>
								<a href="mailto:hr@hound13.com" class="career-nodata__mail">hr@hound13.com</a>
							</div>
							<div class="pagination">
								<button type="button" class="pagination__prev">
									<span class="icon-prev"></span>
									<span class="blind">previous career</span>
								</button>
								<div class="pagination-num">
									<span class="pagination-num__current">1</span>
									/
									<span class="pagination-num__sum">2</span>
								</div>
								<button type="button" class="pagination__next pagination__next--disable">
									<span class="icon-next"></span>
									<span class="blind">next career</span>
								</button>
							</div>
						</div>
						<div id="career-panel-2" class="career-panel is_hidden" role="tabpanel" tabindex="0" aria-labelledby="career-2">
							<div class="career-hasdata">
								<div class="career-item  is_active">
									<div class="career-item__area">
										<p class="career-item__title">‘헌드레드 소울’ 엔진 프로그래머 ‘헌드레드 소울’ 엔진 프로그래머‘헌드레드 소울’ 엔진 프로그래머‘헌드레드 소울’ 엔진 프로그래머</p>
										<div class="career-item__duration">
											<span class="career-item__rename">D-1</span>
											<span class="career-item__term">~09.10</span>
										</div>
									</div>
									<a href="#none" target="_blank" class="career-item__btn">입사 지원하기</a>
								</div>
								<div class="career-item">
									<div class="career-item__area">
										<p class="career-item__title">‘헌드레드 소울’ 이펙터 (VFX 아티스트)</p>
										<div class="career-item__duration">
											<span class="career-item__term">상시채용</span>
										</div>
									</div>
									<a href="#none" target="_blank" class="career-item__btn">입사 지원하기</a>
								</div>
								<div class="career-item">
									<div class="career-item__area">
										<p class="career-item__title">‘헌드레드 소울’ 3D 배경 아티스트 </p>
										<div class="career-item__duration">
											<span class="career-item__term">~09.30</span>
										</div>
									</div>
									<a href="#none" target="_blank" class="career-item__btn">입사 지원하기</a>
								</div>
							</div>
							<div class="career-nodata is_hidden">
								<h3 class="career-nodata__title">현재 예정된 채용이 없습니다</h3>
								<p class="career-nodata__desc">Hound13 인재풀에 등록하고 싶으시다면<br>간단히 이력사항을 정리하여 언제든 제출하여 주시기 바랍니다.</p>
								<a href="mailto:hr@hound13.com" class="career-nodata__mail">hr@hound13.com</a>
							</div>
							<div class="pagination">
								<button type="button" class="pagination__prev">
									<span class="icon-prev"></span>
									<span class="blind">previous career</span>
								</button>
								<div class="pagination-num">
									<span class="pagination-num__current">1</span>
									/
									<span class="pagination-num__sum">2</span>
								</div>
								<button type="button" class="pagination__next pagination__next--disable">
									<span class="icon-next"></span>
									<span class="blind">next career</span>
								</button>
							</div>
						</div>
						<div id="career-panel-3" class="career-panel is_hidden" role="tabpanel" tabindex="0" aria-labelledby="career-3">
							<div class="career-hasdata">
								<div class="career-item">
									<div class="career-item__area">
										<p class="career-item__title">‘헌드레드 소울’ 이펙터 (VFX 아티스트)</p>
										<div class="career-item__duration">
											<span class="career-item__term">상시채용</span>
										</div>
									</div>
									<a href="#none" target="_blank" class="career-item__btn">입사 지원하기</a>
								</div>
								<div class="career-item">
									<div class="career-item__area">
										<p class="career-item__title">‘헌드레드 소울’ 3D 배경 아티스트 </p>
										<div class="career-item__duration">
											<span class="career-item__term">~09.30</span>
										</div>
									</div>
									<a href="#none" target="_blank" class="career-item__btn">입사 지원하기</a>
								</div>
							</div>
							<div class="career-nodata is_hidden">
								<h3 class="career-nodata__title">현재 예정된 채용이 없습니다</h3>
								<p class="career-nodata__desc">Hound13 인재풀에 등록하고 싶으시다면<br>간단히 이력사항을 정리하여 언제든 제출하여 주시기 바랍니다.</p>
								<a href="mailto:hr@hound13.com" class="career-nodata__mail">hr@hound13.com</a>
							</div>
							<div class="pagination">
								<button type="button" class="pagination__prev">
									<span class="icon-prev"></span>
									<span class="blind">previous career</span>
								</button>
								<div class="pagination-num">
									<span class="pagination-num__current">1</span>
									/
									<span class="pagination-num__sum">2</span>
								</div>
								<button type="button" class="pagination__next pagination__next--disable">
									<span class="icon-next"></span>
									<span class="blind">next career</span>
								</button>
							</div>
						</div>
						<div id="career-panel-4" class="career-panel is_hidden" role="tabpanel" tabindex="0" aria-labelledby="career-4">
							<div class="career-hasdata">
								<div class="career-item">
									<div class="career-item__area">
										<p class="career-item__title">‘헌드레드 소울’ 이펙터 (VFX 아티스트)</p>
										<div class="career-item__duration">
											<span class="career-item__term">상시채용</span>
										</div>
									</div>
									<a href="#none" target="_blank" class="career-item__btn">입사 지원하기</a>
								</div>
								<div class="career-item">
									<div class="career-item__area">
										<p class="career-item__title">‘헌드레드 소울’ 3D 배경 아티스트 </p>
										<div class="career-item__duration">
											<span class="career-item__term">~09.30</span>
										</div>
									</div>
									<a href="#none" target="_blank" class="career-item__btn">입사 지원하기</a>
								</div>
								<div class="career-item">
									<div class="career-item__area">
										<p class="career-item__title">‘헌드레드 소울’ 캐릭터 리드 모델러 </p>
										<div class="career-item__duration">
											<span class="career-item__term">상시채용</span>
										</div>
									</div>
									<a href="#none" target="_blank" class="career-item__btn">입사 지원하기</a>
								</div>
								<div class="career-item">
									<div class="career-item__area">
										<p class="career-item__title">‘헌드레드 소울’ 배경 모델러</p>
										<div class="career-item__duration">
											<span class="career-item__term">상시채용</span>
										</div>
									</div>
									<a href="#none" target="_blank" class="career-item__btn">입사 지원하기</a>
								</div>
								<div class="career-item">
									<div class="career-item__area">
										<p class="career-item__title">‘헌드레드 소울’ 액션 기획자 </p>
										<div class="career-item__duration">
											<span class="career-item__term">상시채용</span>
										</div>
									</div>
									<a href="#none" target="_blank" class="career-item__btn">입사 지원하기</a>
								</div>
								<div class="career-item">
									<div class="career-item__area">
										<p class="career-item__title">‘헌드레드 소울’ 서버 시스템 프로그래머</p>
										<div class="career-item__duration">
											<span class="career-item__term">상시채용</span>
										</div>
									</div>
									<a href="#none" target="_blank" class="career-item__btn">입사 지원하기</a>
								</div>
								<div class="career-item">
									<div class="career-item__area">
										<p class="career-item__title">‘헌드레드 소울’ 서버 컨텐츠 프로그래머 </p>
										<div class="career-item__duration">
											<span class="career-item__term">상시채용</span>
										</div>
									</div>
									<a href="#none" target="_blank" class="career-item__btn">입사 지원하기</a>
								</div>
							</div>
							<div class="career-nodata is_hidden">
								<h3 class="career-nodata__title">현재 예정된 채용이 없습니다</h3>
								<p class="career-nodata__desc">Hound13 인재풀에 등록하고 싶으시다면<br>간단히 이력사항을 정리하여 언제든 제출하여 주시기 바랍니다.</p>
								<a href="mailto:hr@hound13.com" class="career-nodata__mail">hr@hound13.com</a>
							</div>
							<div class="pagination">
								<button type="button" class="pagination__prev">
									<span class="icon-prev"></span>
									<span class="blind">previous career</span>
								</button>
								<div class="pagination-num">
									<span class="pagination-num__current">1</span>
									/
									<span class="pagination-num__sum">2</span>
								</div>
								<button type="button" class="pagination__next pagination__next--disable">
									<span class="icon-next"></span>
									<span class="blind">next career</span>
								</button>
							</div>
						</div>
						<div id="career-panel-5" class="career-panel is_hidden" role="tabpanel" tabindex="0" aria-labelledby="career-5">
							<div class="career-hasdata">
								<div class="career-item">
									<div class="career-item__area">
										<p class="career-item__title">‘헌드레드 소울’ 배경 모델러</p>
										<div class="career-item__duration">
											<span class="career-item__term">상시채용</span>
										</div>
									</div>
									<a href="#none" target="_blank" class="career-item__btn">입사 지원하기</a>
								</div>
								<div class="career-item">
									<div class="career-item__area">
										<p class="career-item__title">‘헌드레드 소울’ 액션 기획자 </p>
										<div class="career-item__duration">
											<span class="career-item__term">상시채용</span>
										</div>
									</div>
									<a href="#none" target="_blank" class="career-item__btn">입사 지원하기</a>
								</div>
								<div class="career-item">
									<div class="career-item__area">
										<p class="career-item__title">‘헌드레드 소울’ 서버 시스템 프로그래머</p>
										<div class="career-item__duration">
											<span class="career-item__term">상시채용</span>
										</div>
									</div>
									<a href="#none" target="_blank" class="career-item__btn">입사 지원하기</a>
								</div>
								<div class="career-item">
									<div class="career-item__area">
										<p class="career-item__title">‘헌드레드 소울’ 서버 컨텐츠 프로그래머 </p>
										<div class="career-item__duration">
											<span class="career-item__term">상시채용</span>
										</div>
									</div>
									<a href="#none" target="_blank" class="career-item__btn">입사 지원하기</a>
								</div>
							</div>
							<div class="career-nodata is_hidden">
								<h3 class="career-nodata__title">현재 예정된 채용이 없습니다</h3>
								<p class="career-nodata__desc">Hound13 인재풀에 등록하고 싶으시다면<br>간단히 이력사항을 정리하여 언제든 제출하여 주시기 바랍니다.</p>
								<a href="mailto:hr@hound13.com" class="career-nodata__mail">hr@hound13.com</a>
							</div>
							<div class="pagination">
								<button type="button" class="pagination__prev">
									<span class="icon-prev"></span>
									<span class="blind">previous career</span>
								</button>
								<div class="pagination-num">
									<span class="pagination-num__current">1</span>
									/
									<span class="pagination-num__sum">2</span>
								</div>
								<button type="button" class="pagination__next pagination__next--disable">
									<span class="icon-next"></span>
									<span class="blind">next career</span>
								</button>
							</div>
						</div>
						<div id="career-panel-6" class="career-panel is_hidden" role="tabpanel" tabindex="0" aria-labelledby="career-6">
							<div class="career-hasdata">
								<div class="career-item">
									<div class="career-item__area">
										<p class="career-item__title">‘헌드레드 소울’ 서버 컨텐츠 프로그래머 </p>
										<div class="career-item__duration">
											<span class="career-item__term">상시채용</span>
										</div>
									</div>
									<a href="#none" target="_blank" class="career-item__btn">입사 지원하기</a>
								</div>
							</div>
							<div class="career-nodata is_hidden">
								<h3 class="career-nodata__title">현재 예정된 채용이 없습니다</h3>
								<p class="career-nodata__desc">Hound13 인재풀에 등록하고 싶으시다면<br>간단히 이력사항을 정리하여 언제든 제출하여 주시기 바랍니다.</p>
								<a href="mailto:hr@hound13.com" class="career-nodata__mail">hr@hound13.com</a>
							</div>
							<div class="pagination">
								<button type="button" class="pagination__prev">
									<span class="icon-prev"></span>
									<span class="blind">previous career</span>
								</button>
								<div class="pagination-num">
									<span class="pagination-num__current">1</span>
									/
									<span class="pagination-num__sum">2</span>
								</div>
								<button type="button" class="pagination__next pagination__next--disable">
									<span class="icon-next"></span>
									<span class="blind">next career</span>
								</button>
							</div>
						</div>
						<div id="career-panel-7" class="career-panel is_hidden" role="tabpanel" tabindex="0" aria-labelledby="career-7">
							<div class="career-hasdata">
								<div class="career-item">
									<div class="career-item__area">
										<p class="career-item__title">‘헌드레드 소울’ 서버 컨텐츠 프로그래머 </p>
										<div class="career-item__duration">
											<span class="career-item__term">상시채용</span>
										</div>
									</div>
									<a href="#none" target="_blank" class="career-item__btn">입사 지원하기</a>
								</div>
							</div>
							<div class="career-nodata is_hidden">
								<h3 class="career-nodata__title">현재 예정된 채용이 없습니다</h3>
								<p class="career-nodata__desc">Hound13 인재풀에 등록하고 싶으시다면<br>간단히 이력사항을 정리하여 언제든 제출하여 주시기 바랍니다.</p>
								<a href="mailto:hr@hound13.com" class="career-nodata__mail">hr@hound13.com</a>
							</div>
							<div class="pagination">
								<button type="button" class="pagination__prev">
									<span class="icon-prev"></span>
									<span class="blind">previous career</span>
								</button>
								<div class="pagination-num">
									<span class="pagination-num__current">1</span>
									/
									<span class="pagination-num__sum">2</span>
								</div>
								<button type="button" class="pagination__next pagination__next--disable">
									<span class="icon-next"></span>
									<span class="blind">next career</span>
								</button>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section id="office" class="office">
				<h2 class="main-title">office view</h2>
				<div class="container">
					<div class="swiper js-swiper-office">
						<div class="swiper-wrapper">
							<div class="office-box swiper-slide">
								<div class="office-box__left">
									<div class="office-box__img" data-index="1">
										<img class="img only_pc" src="./../img/images/img_office1.png" alt="">
										<img class="img only_mo" src="./../img/images/retina/img_office1.png" alt="">
									</div>
								</div>
								<div class="office-box__right">
									<div class="office-box__img" data-index="2">
										<img class="img only_pc" src="./../img/images/img_office2.png" alt="">
										<img class="img only_mo" src="./../img/images/retina/img_office2.png" alt="">
									</div>
									<div class="office-box__under">
										<div class="office-box__img" data-index="3">
											<img class="img only_pc" src="./../img/images/img_office3.png" alt="">
											<img class="img only_mo" src="./../img/images/retina/img_office3.png" alt="">
										</div>
										<div class="office-box__img office-box__img--last" data-index="4">
											<img class="img only_pc" src="./../img/images/img_office4.png" alt="">
											<img class="img only_mo" src="./../img/images/retina/img_office4.png" alt="">
										</div>
									</div>
								</div>
							</div>
							<div class="office-box swiper-slide">
								<div class="office-box__left">
									<div class="office-box__img" data-index="5">
										<img class="img only_pc" src="./../img/images/img_office5.png" alt="">
										<img class="img only_mo" src="./../img/images/retina/img_office5.png" alt="">
									</div>
								</div>
								<div class="office-box__right">
									<div class="office-box__img" data-index="6">
										<img class="img only_pc" src="./../img/images/img_office6.png" alt="">
										<img class="img only_mo" src="./../img/images/retina/img_office6.png" alt="">
									</div>
									<div class="office-box__under">
										<div class="office-box__img" data-index="7">
											<img class="img only_pc" src="./../img/images/img_office7.png" alt="">
											<img class="img only_mo" src="./../img/images/retina/img_office7.png" alt="">
										</div>
										<div class="office-box__img office-box__img--last" data-index="8">
											<img class="img only_pc" src="./../img/images/img_office8.png" alt="">
											<img class="img only_mo" src="./../img/images/retina/img_office8.png" alt="">
										</div>
									</div>
								</div>
							</div>
							<div class="office-box swiper-slide">
								<div class="office-box__left">
									<div class="office-box__img" data-index="9">
										<img class="img only_pc" src="./../img/images/img_office9.png" alt="">
										<img class="img only_mo" src="./../img/images/retina/img_office9.png" alt="">
									</div>
								</div>
								<div class="office-box__right">
									<div class="office-box__img" data-index="10">
										<img class="img only_pc" src="./../img/images/img_office10.png" alt="">
										<img class="img only_mo" src="./../img/images/retina/img_office10.png" alt="">
									</div>
									<div class="office-box__under">
										<div class="office-box__img" data-index="11">
											<img class="img only_pc" src="./../img/images/img_office11.png" alt="">
											<img class="img only_mo" src="./../img/images/retina/img_office11.png" alt="">
										</div>
										<div class="office-box__img office-box__img--last" data-index="12">
											<img class="img only_pc" src="./../img/images/img_office12.png" alt="">
											<img class="img only_mo" src="./../img/images/retina/img_office12.png" alt="">
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="scroll-group">
							<button type="button" class="scroll-group__prev">
								<span class="icon-prev"></span>
								<span class="blind">previous office view</span>
							</button>
							<div class="scroll-group__pagination"></div>
							<button type="button" class="scroll-group__next">
								<span class="icon-next"></span>
								<span class="blind">next office view</span>
							</button>
						</div>
					</div>
				</div>
			</section>
			<section id="news" class="news">
				<h2 class="main-title">news</h2>
				<div class="container">
					<div class="swiper js-swiper-news">
						<div class="swiper-wrapper">
							<div class="news-item swiper-slide">
								<div class="news-item__img">
									<img class="img" src="./../img/images/img_news1.png" alt="">
								</div>
								<div class="news-item__info">
									<span class="news-item__date">2021.07.01</span>
									<p class="news-item__title">가레나로부터 200억 이상 대규모 투자 유치 </p>
								</div>
							</div>
							<div class="news-item swiper-slide">
								<div class="news-item__img">
									<img class="img" src="./../img/images/img_news2.png" alt="">
								</div>
								<div class="news-item__info">
									<span class="news-item__date">2020.07.16</span>
									<p class="news-item__title">하운드13, 클라우드 MSP 기업 GS네오텍과 지속 협력 </p>
								</div>
							</div>
							<div class="news-item swiper-slide">
								<div class="news-item__img">
									<img class="img" src="./../img/images/img_news3.png" alt="">
								</div>
								<div class="news-item__info">
									<span class="news-item__date">2019.01.17</span>
									<p class="news-item__title">하운드13, 모바일 액션 RPG ‘헌드레드 소울’ 사전예약 MSP 기업 GS네오텍과 지속 협력</p>
								</div>
							</div>
							<div class="news-item swiper-slide">
								<div class="news-item__img">
									<img class="img" src="./../img/images/img_news1.png" alt="">
								</div>
								<div class="news-item__info">
									<span class="news-item__date">2021.07.01</span>
									<p class="news-item__title">가레나로부터 200억 이상 대규모 투자 유치 </p>
								</div>
							</div>
						</div>
						<div class="scroll-group">
							<button type="button" class="scroll-group__prev">
								<span class="icon-prev"></span>
								<span class="blind">previous news</span>
							</button>
							<div class="scroll-group__pagination"></div>
							<button type="button" class="scroll-group__next">
								<span class="icon-next"></span>
								<span class="blind">next news</span></button>
						</div>
					</div>
				</div>
			</section>
			<section id="contact" class="contact">
				<h2 class="blind">contact</h2>
				<div class="container">
					<div class="contact__content">
						<h2 class="main-title">contact</h2>
						<p class="contact__addr">[06233] 서울특별시 서울 강남구 테헤란로4길 5 해암빌딩 7,8층</p>
						<ul class="contact-info">
							<li class="contact-info__item">
								<h4 class="contact-info__title">게임/환불문의</h4>
								<a href="mailto:hs_help01@hound13.com" class="contact-info__link">hs_help01@hound13.com</a>
							</li>
							<li class="contact-info__item">
								<h4 class="contact-info__title">FAX</h4>
								<a href="tel:02-508-1513" class="contact-info__link">02-508-1513</a>
							</li>
							<li class="contact-info__item">
								<h4 class="contact-info__title">사업문의</h4>
								<a href="mailto:business@hound13.com" class="contact-info__link">business@hound13.com</a>
							</li>
							<li class="contact-info__item">
								<h4 class="contact-info__title">채용문의 </h4>
								<a href="mailto:hs_help01@hound13.com" class="contact-info__link">hr@hound13.com </a>
							</li>
						</ul>
					</div>
				</div>
			</section>
		</main>
		<!-- // [D] CONTENTS -->

		<!--[D] FOOTER -->
		<footer class="footer">
			<div class="container">
				<div class="footer-info">
					<a href="#" class="footer-info__logo">
						<span class="blind">Hound13</span>
					</a>
					<span class="copyright">© HOUND13. All Rights Reserved. </span>
				</div>
				<ul class="footer-info">
					<li class="footer-info__item"><a href="#none" class="footer-info__link">운영정책 </a></li>
					<li class="footer-info__item"><a href="#none" class="footer-info__link">서비스 이용약관 </a></li>
					<li class="footer-info__item"><a href="#none" class="footer-info__link">개인정보 처리방침</a></li>
				</ul>
			</div>
		</footer>
		<!--// [D] FOOTER -->

		<!-- btn top -->
		<button class="btn-top">
			<span class="btn-top__icon"></span>
			<span class="blind">Go to top</span>
		</button>
	</div>

	<!-- [D] LAYER -->
	<div class="popup office-popup">
		<div class="popup__inner">
			<div class="popup__info">
				<div class="swiper js-office-popup">
					<div class="swiper-wrapper">
					</div>
					<button class="office-btn__next" type="button">
						<span class="blind">next image</span>
					</button>
					<button class="office-btn__prev" type="button">
						<span class="blind">before image</span>
					</button>
				</div>
			</div>
			<button class="popup__exit" type="button">
				<span class="blind">turn off popups</span>
			</button>
		</div>
		<div class="popup__bg"></div>
	</div>
	<div class="popup news-popup">
		<div class="popup__inner">
			<div class="popup__info">
				<div class="news-popup__container">
					<div class="news-popup__content">
						<span class="news-popup__date">2021.07.01</span>
						<h3 class="news-popup__title">가레나로부터 200억 이상 <br> 대규모 투자 유치</h3>
						<div class="news-popup__img"></div>
						<div class="editor">
							<p>하운드13(대표 박정식)이 글로벌 게임 개발사 겸 퍼블리셔 가레나(Garena)에서 200억원 이상의 대규모 투자를 유치했다고
								밝혔다.
								하운드13은 중국·동아시아 시장 등에서 높은 인기를 얻은 ‘드래곤네스트’ 총괄 디렉터 출신 박정식 대표를 중심으로 ‘드래곤네스트’, ‘던전 스트라이커’ 제작에 참가한 핵심
								인력들이
								설립한 게임 스타트업이다.</p>
							<p>2019년 1월 첫 작품인 모바일 액션 RPG ‘헌드레드 소울’을 공개하며 수준 높은 그래픽과 스타일리시한 액션 연출로
								호평받았으며,
								스타트업으로는 드물게 자체 서비스를 진행해 2년이 지난 지금까지도 국내를 포함해 글로벌 140개국에서 서비스를 제공하고 있다.</p>
							<p>하운드13은 이번 대규모 투자 유치와 함께 PC·모바일 크로스 플랫폼을 바탕으로 하는 신규 프로젝트 ‘Project D’와 PC
								플랫폼을 기반으로 하는 </p>
						</div>
					</div>
				</div>
			</div>
			<button class="popup__exit" type="button">
				<span class="blind">turn off popups</span>
			</button>
		</div>
		<div class="popup__bg"></div>
	</div>
	<!-- [D] LAYER -->

	<!-- Javascript -->
	<script src="../js/libs/vendor.min.js"></script>
	<script src="../js/libs/swiper.min.js"></script>
	<script src="../js/libs/magnific.min.js"></script>
	<script src="https://www.youtube.com/iframe_api"></script>
	<script src="../js/apps/main.js"></script>
	<!-- // Javascript -->

	<!-- [D] 마크업 검수용, 개발제외 -->
	<style>
	.caseview {
		position: fixed;
		max-height: 300px;
		overflow: auto;
		bottom: 40px;
		right: 3px;
		padding: 5px;
		background: rgba(0, 0, 0, 0.7);
		z-index: 99999;
		font-family: 'NotoSans', sans-serif;
	}

	.btn-open-caseview {
		padding: 0 5px 3px 5px;
		color: yellow
	}

	.caseview a {
		display: block;
		padding: 5px;
		color: #fff
	}

	.caseview .item {
		font-size: 12px;
		color: #fff
	}

	.caseview .item.active {
		color: rgba(255, 255, 255, 0.5)
	}

	</style>
	<div class="caseview">
		<button type="button" class="btn-open-caseview" onclick="$('.caseview_lst').toggle();">CaseView Toggle</button>
		<div class="caseview_lst" style="display: none;">
			<a href="#none" class="item" onclick="case1()">1. 데이터가 있다</a>
			<a href="#none" class="item" onclick="case2()">2. 데이터 없음</a>
		</div>
	</div>
	<script>
	$('.caseview .item').on('click', function () {
	  $(this).addClass('active').siblings().removeClass('active')
	})

	function case1() {
	  $('.career-hasdata').removeClass('is_hidden');
	  $('.career-nodata').addClass('is_hidden');
	  $('.career-panel .pagination').removeClass('is_hidden');
	  return false;
	}

	function case2() {
	  $('.career-hasdata').addClass('is_hidden');
	  $('.career-nodata').removeClass('is_hidden');
	  $('.career-panel .pagination').addClass('is_hidden');
	  return false;
	}

	</script>
	<!-- [D] 마크업 검수용, 개발제외 -->



</body></html>